:root{
    --primary-color:#ff3131;
    --secondary-color: #110942;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
}

.category{
--sports-color: #f99500;
--ent-color:#a66bbe;
--tech-color: #009cff;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 16px;
}

html,body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.7em;
}

.container{
    max-width: 80%;
    margin: auto;

}

header{
    height: 100vh;
    width: 100%;
    /* position: relative; */
    

}
.header{
    background-color: var(--light-color);
    height: 100%;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px; 

}

.logo a{
    font-size: 3rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary-color);
}

.nav-item a{

    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
    

}

.nav-item a:hover{
    color: var(--primary-color);
    transition: .3s;

}

/* button-l{
    border: none;
    background: var(--primary-color);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button-l:hover{
    transform: scale(1.3);
    cursor: pointer;
} */



.text-primary-l{
    color: var(--primary-color);
}

.text-secondary-l{
    color: var(--secondary-color);
}

.hero-section{
    height: 100%;
}
.hero-text h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--secondary-color);

}
.hero-text h3{
    margin-bottom: 2rem;

}

.hero-img .img{
    height: 20rem;
    background-color: #f99500;

}


.button-primary-l{
    border: none;
    background: var(--primary-color);
    padding: 0.7rem 1.6rem;
    border-radius: 1.8rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;
    margin-right: 1rem;
}

.button-primary-l:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.button-secondary-l{
    border: 2px solid var(--primary-color);
    background: var(--light-color);
    padding: 0.7rem 1.6rem;
    border-radius: 1.8rem;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;

}

.button-secondary-l:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.button-light-l{
    border: 2px solid var(--light-color);
    background: var(--light-color);
    padding: 0.7rem 1.6rem;
    border-radius: 1.8rem;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;

}

.button-light-l:hover{
    background: var(--light-color);
    transform: scale(1.2);
    cursor: pointer;
}
.projects-row{

    width: 70%;
    margin: auto;
    height: 8.8rem;
    background-color: #fff;
    border-radius: 5rem;

}

.project-icon{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: var(--primary-color);

}

.expert-area-section{
    background-color: var(--light-color);
}

.edu-icon{
    height: 1.2rem;
    width: 1.2rem;
    border: solid 1px var(--primary-color);
    border-radius: 50%;
    padding: 10%;


}
.edu-icon-inside{
    height: 1rem;
    width: 1rem;
    background-color: var(--primary-color);
    border-radius: 50%;

}

.offer-svg {
    margin-top: -3.5rem ;
    margin-bottom: 1.5rem;
    background-color: #fff;
    width: 3.7rem;
}

.offer-svg svg{
    fill: var(--primary-color);
    
    
}

.navbar-portfolio ul{
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
}

.my-portfolio-section{
    background-color: var(--light-color);
}

.project-on-your-mind-section{
    background-color: var(--primary-color);
}

.testimonial {
    padding: 1.2rem;
    margin: 1.2rem 0;
  }

  .testimonial img {
    border-radius: 50%;
    width: 5rem; /* Adjust the size as needed */
    height: 5rem; /* Adjust the size as needed */

  }

  .svg-icon-bg{
    background-color: var(--primary-color);
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
  }

  .svg-icon-bg svg{
    fill: #fff;
    
  }

  @media (max-width: 720px) {

    .header{
        background-color: var(--light-color);

    
    }
  
    .hero-img{
        display: none;
    }
    .row-textzz{
        margin-bottom: 10rem;
    }
    .projects-row{
        width: 80%;
        height: 100%;
        background-color: #fff;
        border-radius: 0;
   
    }

    .project-item{
        border-bottom: solid 2px var(--light-color);
        margin-bottom: 1rem;
        border-right: none;
    }
    
    .project-icon{
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        background-color: var(--primary-color);
        margin-bottom: 1rem;
    
    }

    .about-me-section h1, h5{
        text-align: center;
    }    

  }